<nav class="navbar navbar-expand-lg navbar-light bg-primary text-light">
    <a class="navbar-brand mx-2" href="/"> My  Job 💼 </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/"> <i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>

    

        
        {% if request.isauth %}

        <li class="nav-item">
          <a class="nav-link" href="/user/profile/"> <i class="fas fa-user"></i> Welcome! {{request.name}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/user/logout"> <i class="fas fa-book"></i> Logout</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/user/new-user/"> <i class="fas fa-user"></i> Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/login"><i class="fas fa-key"></i> Login</a>
        </li>
        {% endif %}
          

      </ul>
    </div>
  </nav>

 